# Bundler Feature Supported ENV Variables
PRE_CONNECT=''
DNS_PREFETCH=''
PRELOAD=''

# PWA required field for better SEO
APP_PWA_ENABLE=''
APP_DEV_INSPECTION_ENABLED=''
APP_URL=''

# App Supported ENV Variables
AS_API_DOMAIN=''
AS_API_KEY=''
AS_ENABLE_CRYPTOGRAPHY=''
AS_API_TIMEOUT=''
APP_DYNATRACE_LINK='https://js-cdn.dynatrace.com/jstag/18b1df4492a/bf25732kdn/d77cd2f0e7a13bf9_complete.js'
