# Bundler Feature Supported ENV Variables
PRE_CONNECT=''
DNS_PREFETCH=''
PRELOAD=''

# PWA required field for better SEO
APP_PWA_ENABLE=''
APP_DEV_INSPECTION_ENABLED=''
APP_URL=''

# App Supported ENV Variables
AS_API_DOMAIN=''
AS_API_KEY=''
AS_ENABLE_CRYPTOGRAPHY=''
AS_API_TIMEOUT=''


# CSP Configuration
DEFAULT_SRC=''
SCRIPT_SRC=''
STYLE_SRC=''
IMG_SRC=''
CONNECT_SRC=''
FONT_SRC=''
OBJECT_SRC=''
MEDIA_SRC=''
FRAME_SRC=''
FRAME_ANCESTORS=''
FORM_ACTION=''
BASE_URI=''
REPORT_URI=''
REPORT_TO=''